footer{
    width: 100%;
    height: 5rem;
    background-color: #03364F ;
    color: #fff;
    text-align: center;
    align-items: center;
    display: flex;
}
.infos-footer{
    margin-left: auto;
    margin-right: auto;
}