#infosloc{
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-indent: 50px;
    font-size: 20px;
}

.escadao{
    float: left;
    width: 450px;
    height: 100%;
    display: block;
    border: 5px solid rgba(0, 139, 210, 1);
    border-radius: 5px;
}

.escadaop{
    margin-top: 15%;
    margin-bottom: -6%;
    text-indent: 25px;
    font-size: 75%;
    display: block;
}

.map{
    border: 2px solid rgba(0, 139, 210, 1);
}

.mapas{
    margin-left: 17%;
    margin-top: 1%;
    margin-bottom:2%;
    width: min-content;
    padding: 10px;
    border: 5px dotted rgba(0, 139, 210, 1);
    text-align: center;
}

.bonitin{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: rgba(0, 139, 210, 1) ;
    color: rgba(0, 139, 210, 1) ;
    height: 1%;
    margin-top: 10px;
    border-radius: 50px 25px 50px 25px;
}